@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
    --NordDark1: #2e3440;
    --NordDark2: #3b4252;
    --NordDark3: #434c5e;
    --NordDark4: #4c566a;
    --NordLight1: #d8dee9;
    --NordLight2: #e5e9f0;
    --NordLight3: #eceff4;
    --NordBlue1: #8fbcbb;
    --NordBlue2: #88c0d0;
    --NordBlue3: #81a1c1;
    --NordBlue4: #5e81ac;
    --NordRed: #bf616a;
    --NordOrange: #d08770;
    --NordYellow: #ebcb8b;
    --NordGreen: #a3be8c;
    --NordPink: #b48ead;

    --Expo: cubic-bezier(0.87, 0, 0.13, 1);
    --PageOffset: 50px;
    --ContentFontSize: 1.5rem;
    --ContainerShadowSize: 0.5rem;
}

*{
    font-family: "Comfortaa";
    color: var(--NordLight3);
    text-shadow: black 0 0 0.5rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    background-color: var(--NordDark2);
}

#Header{
    background-color: var(--NordDark1);
    
    height: 0;
    font-size: 0;
    transition: font-size 1s var(--Expo), height 1s var(--Expo), border 1s var(--Expo);

    width: calc(100vw - var(--PageOffset));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1.5rem 1.5rem;
    border-color: transparent;
    box-shadow: none;
    z-index: 100;

    gap: 5%;
}

#Header.Load{
    height: 5vh;
    font-size: 2rem;
    box-shadow: 0 0 var(--ContainerShadowSize) var(--ContainerShadowSize) var(--NordDark1);
    border: 2px solid var(--NordBlue4);
    border-top: none;
}

.HeaderButton{
    cursor: pointer;
}

.HeaderButton.Loaded{
    transition: font-size 0.5s ease, color 0.5s ease;
}

.HeaderButton.Loaded:hover{
    color: var(--NordBlue2);
    font-size: 2.5rem;
}

#Content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 1s var(--Expo);
}

#Content.ShowPages{
    transform: translateY(-100vh);
}

#LoadingPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#LoadingContainer{
    width: 0;
    height: 0;
    border-radius: 0;
    box-shadow: none;
    transition: width 1s var(--Expo), height 1s var(--Expo), border-radius 1s var(--Expo), box-shadow 1s var(--Expo);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#LoadingContainer.Load{
    width: calc(100% - var(--PageOffset));
    height: calc(100% - var(--PageOffset));
    background-color: var(--NordDark1);
    box-shadow: 0 0 var(--ContainerShadowSize) var(--ContainerShadowSize) var(--NordDark1);
    border-radius: 1.5rem;
}

#LoadingContainer.Unload{
    color: transparent;
    background-color: transparent;
    box-shadow: none;
    font-size: 0;
}

#Pages{
    width: calc(300vw + (4 * var(--PageOffset))); 
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.75s var(--Expo);
    column-gap: var(--PageOffset);
}

.PageContainer{
    width: calc(100vw - var(--PageOffset));
    height: calc(95vh - var(--PageOffset));
    border-radius: 1.5rem;
    border: 2px solid var(--NordBlue4);
    background-color: transparent;
    box-shadow: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PageContainer.Load{
    background-color: var(--NordDark1);
    box-shadow: 0 0 var(--ContainerShadowSize) var(--ContainerShadowSize) var(--NordDark1);
}

.ScrollableContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-padding-top: 20px;
    scroll-padding-bottom: 20px;
}

.ImageGrid{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(64px, min(20%, 512px)));
    grid-auto-rows: max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.GridImageContainer{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.GridImage{
    width: 100%;
    height: 100%;
    scale: 0;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    transition:
            scale 1s var(--Expo),
            border 1s var(--Expo),
            border-radius 1s var(--Expo),
            box-shadow 1s var(--Expo);
}

.GridImage.Load{
    scale: 100%;
    border: 2px solid var(--NordBlue3);
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 5px;
}

.GridImage.Loaded{
    transition:
            scale 0.25s ease-out,
            border-radius 0.25s ease-out,
            filter 0.25s ease-out,
            box-shadow 0.25s ease-out;
}

.GridImage.Loaded:hover{
    scale: 105%;
    border-radius: 2.5%;
    filter: brightness(110%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 10px;
}

.Overlay{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s var(--Expo);
}

.Overlay.Shown{
    opacity: 1;
    pointer-events: all;
}

#ErrorOverlay{
    flex-direction: column;
}

.ErrorText{
    font-size: 3vw;
    color: var(--NordRed);
}

#OverlayContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    height: 90%;
    border: 2px solid var(--NordBlue4);
    border-radius: 20px;
    padding: max(25px, 1vw);
    background-color: var(--NordDark1);
    overflow: scroll;
    scrollbar-width: none;
    pointer-events: inherit;
}

#OverlayContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
}

#OverlayHeader{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
}

#OverlayHeaderImage{
    height: min(15rem, 15vw);
    border: 2px solid var(--NordBlue3);
    border-radius: 10%;
    transition: height 0.5s ease;
}

#OverlayHeaderText{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#OverlayHeaderName{
    font-size: min(6rem, 5vw);
    transition: font-size 0.5s ease, color 0.5s ease;
}

#OverlayHeaderSummary{
    font-size: min(4rem, 3vw);
    transition: font-size 0.5s ease, color 0.5s ease;
}

#OverlayHeaderLinks{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    height: min(2.25rem, 2.25vw);
    column-gap: 10px;
}

.OverlayHeaderLink{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    height: min(2rem, 2vw);
    font-size: min(2rem, 2vw);
    cursor: pointer;
    transition: height 0.5s ease, font-size 0.5s ease, color 0.5s ease;
}

.OverlayHeaderLink:hover{
    height: min(2.25rem, 2.25vw);
    font-size: min(2.25rem, 2.25vw);
    color: var(--NordBlue2);
}

.OverlayHeaderLink a{
    text-decoration: none;
    color: inherit;
}

.OverlayHeaderLink p{
    color: inherit;
}

.OverlayHeaderLink img{
    height: inherit;
}

#OverlayBody{
    display: flex;
    flex-direction: column;
}