@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
    --NordDark1: #2e3440;
    --NordDark2: #3b4252;
    --NordDark3: #434c5e;
    --NordDark4: #4c566a;
    --NordLight1: #d8dee9;
    --NordLight2: #e5e9f0;
    --NordLight3: #eceff4;
    --NordBlue1: #8fbcbb;
    --NordBlue2: #88c0d0;
    --NordBlue3: #81a1c1;
    --NordBlue4: #5e81ac;
    --NordRed: #bf616a;
    --NordOrange: #d08770;
    --NordYellow: #ebcb8b;
    --NordGreen: #a3be8c;
    --NordPink: #b48ead;

    --Expo: cubic-bezier(0.87, 0, 0.13, 1);
    --ExpoOut: cubic-bezier(0.16, 1, 0.3, 1);
    --PageOffset: 50px;
    --ContentFontSize: 1.5rem;
    --ContainerShadowSize: 0.5rem;
}

*{
    font-family: "Comfortaa";
    color: var(--NordLight3);
    text-shadow: black 0 0 0.5rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    background-color: var(--NordDark2);
}

::selection {
    color: var(--NordLight3);
    background: var(--NordBlue4);
}

input[type="range"]{
    height: 10px;
    margin: auto;
    -webkit-appearance: none;
    appearance: none;
    background-color: #4c566a;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track, input[type="range"]::-moz-range-progress{
    background-color: #eceff4;
    height: inherit;
    border-radius: inherit;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: #eceff4;
    color: #eceff4;
    border-radius: 100%;
}

input[type="range"]:focus {
    outline: none;
}

#Header{
    background-color: var(--NordDark1);
    
    height: 0;
    font-size: 0;
    transition: font-size 1s var(--Expo), height 1s var(--Expo), border 1s var(--Expo);

    width: calc(100vw - var(--PageOffset));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1.5rem 1.5rem;
    border-color: transparent;
    box-shadow: none;
    z-index: 100;

    gap: min(10%, 5vw);
}

#Header.Load{
    height: min(7vh, 12vw);
    font-size: min(5vw, 4vh);
    box-shadow: 0 0 var(--ContainerShadowSize) var(--ContainerShadowSize) var(--NordDark1);
    border: 2px solid var(--NordBlue4);
    border-top: none;
}

#Header.Loaded{
    transition: none;
}

.HeaderOverlayShadow{
    position: absolute;
    width: calc(100vw - var(--PageOffset) - 3px);
    height: inherit;
    border-radius: inherit;
    box-shadow: inset 0 -3px 25px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1000;
}

.HeaderButtonContainer{
    width: 25vh;
}

.HeaderButton{
    cursor: pointer;
    text-align: center;
}

.HeaderButton.Loaded{
    transition: font-size 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.HeaderButton.Loaded:hover{
    text-shadow: var(--NordLight3) 0 0 0.5rem;
    font-size: min(6vw, 5vh);
}

#Content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 1s var(--Expo);
}

#Content.ShowPages{
    transform: translateY(-100vh);
}

#Content.Loaded{
    transition: none;
}

#LoadingPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#LoadingContainer{
    width: 0;
    height: 0;
    border-radius: 0;
    box-shadow: none;
    transition: width 1s var(--Expo), height 1s var(--Expo), border-radius 1s var(--Expo), box-shadow 1s var(--Expo);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#LoadingContainer.Load{
    width: calc(100% - var(--PageOffset));
    height: calc(100% - var(--PageOffset));
    background-color: var(--NordDark1);
    box-shadow: 0 0 var(--ContainerShadowSize) var(--ContainerShadowSize) var(--NordDark1);
    border-radius: 1.5rem;
}

#LoadingContainer.Unload{
    color: transparent;
    background-color: transparent;
    box-shadow: none;
    font-size: 0;
}

#Pages{
    width: calc(300vw + (4 * var(--PageOffset))); 
    height: 92.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--PageOffset);
}

#Pages.NoTransition{
    transition: none;
}

#Pages.Transition{
    transition: transform 0.75s var(--ExpoOut);
}

.PageContainer{
    width: calc(100vw - var(--PageOffset));
    height: calc(92.5vh - var(--PageOffset));
    border-radius: 1.5rem;
    border: 2px solid var(--NordBlue4);
    background-color: transparent;
    box-shadow: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PageContainer.Load{
    background-color: var(--NordDark1);
    box-shadow: 0 0 var(--ContainerShadowSize) var(--ContainerShadowSize) var(--NordDark1);
}

.PageOverlayShadow{
    position: absolute;
    width: calc(100vw - var(--PageOffset) - 3px);
    height: calc(92.5vh - var(--PageOffset) - 3px);
    border-radius: inherit;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1000;
}

#EnenraContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: text;
}

.EnenraCenteredContainer{
    width: fit-content;
    align-self: center;
}

.EnenraContentContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.EnenraContentContainer h1{
    color: var(--NordBlue3);
    font-size: min(3.5rem, 3vw);
    text-align: center;
}

.EnenraContentContainer h2{
    color: var(--NordBlue2);
    font-size: min(3rem, 2.5vw);
    text-align: center;
}

.EnenraContentContainer h3{
    color: var(--NordBlue1);
    font-size: min(2.5rem, 2vw);
    text-align: center;
}

.EnenraContentContainer p{
    font-size: min(2rem, 1.5vw)
}

.EnenraContentContainer b{
    color: var(--NordYellow);
}

.EnenraContentContainer a{
    color: var(--NordBlue3);
    text-decoration: none;
    transition: text-shadow 0.25s ease;
}

.EnenraContentContainer a:hover{
    text-shadow: 0 0 5px var(--NordBlue3);
}

.EnenraContentContainer a img{
    height: max(1rem, min(2rem, 2vw));
    transition: filter 0.25s ease;
}

.EnenraContentContainer a:hover img{
    filter: brightness(150%);
}

.EnenraContentContainer ul{
    display: flex;
    flex-direction: column;
    gap: min(5px, 0.25vh);
    list-style: inside disc;
    font-size: min(2rem, 1.5vw);
}

.EnenraContentContainer ul ul{
    margin: 5px 50px;
}

.EnenraContentContainer iframe{
    width: 100%;
    aspect-ratio: 16/9;
    align-self: center;
    border: 2px solid var(--NordLight1);
    border-radius: 1.5rem;
    box-shadow: 0 0 5px var(--NordLight3);
    transition: box-shadow 0.25s ease;
}

.EnenraContentContainer iframe:hover{
    box-shadow: 0 0 10px var(--NordLight3);
}

.VerticalLine{
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, var(--NordLight3) 50%, transparent 100%);
}

.HorizontalLine{
    width: 100%;
    background: linear-gradient(to right, transparent 0%, var(--NordLight3) 50%, transparent 100%);
    margin: 20px 0;
    min-height: 1px;
}

.SearchBar{
    width: inherit;
    border-radius: inherit;
    border: var(--NordBlue4) solid 2px;
    border-top: none;
    height: 75px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.SearchBar input, select, button{
    width: 30%;
    max-width: 25rem;
    height: 75%;
    background-color: var(--NordDark2);
    font-size: min(1.5rem, 3vw);
    padding: 10px;
    border-radius: 20px;
    border: var(--NordDark4) solid 2px;
    outline: none !important;
    transition: border-color 0.5s ease, border-radius 0.5s ease;
}

.SearchBar button{
    width: 50px;
}

.SearchBar input:focus, select:focus{
    border-color: var(--NordLight1);
    border-radius: 15px;
}

.ScrollableContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 15px 10px;
    border-radius: 20px;
}

.ImageGrid{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, max(256px, min(5%, 512px)));
    grid-auto-rows: max-content;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.GridImageContainer{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GridImage{
    width: inherit;
    height: inherit;
    object-fit: cover;
    scale: 0;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    transition:
            scale 1s var(--Expo),
            border 1s var(--Expo),
            border-radius 1s var(--Expo),
            box-shadow 1s var(--Expo);
}

.GridImage.Load{
    scale: 100%;
    border: 2px solid var(--NordBlue4);
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 5px;
}

.GridImage.Loaded{
    transition:
            scale 0.25s ease-out,
            border-radius 0.25s ease-out,
            filter 0.25s ease-out,
            box-shadow 0.25s ease-out;
}

.GridImage.Loaded:hover{
    scale: 105%;
    border-radius: 2.5%;
    filter: brightness(125%) saturate(125%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 10px;
}

.Overlay{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s var(--Expo);
}

.Overlay.Shown{
    opacity: 1;
    pointer-events: all;
}

#ErrorOverlay{
    flex-direction: column;
}

.ErrorText{
    font-size: 3vw;
    color: var(--NordRed);
}

#OverlayContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: 90%;
    border: 2px solid var(--NordBlue4);
    border-radius: 20px;
    padding: 25px;
    background-color: var(--NordDark1);
    box-shadow: 0 0 var(--ContainerShadowSize) black;
    overflow: scroll;
    scrollbar-width: none;
    pointer-events: inherit;
    user-select: text;
}

#OverlayContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
}

#OverlayHeader{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
}

.OverlayHeaderImage{
    height: min(15rem, 15vw);
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid var(--NordBlue3);
    border-radius: 10%;
    user-select: none;
}

#OverlayHeaderText{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.OverlayHeaderName{
    font-size: min(6rem, 6vw);
}

.OverlayHeaderSummary{
    font-size: min(4rem, 4vw);
}

#OverlayHeaderLinks{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    height: min(2.25rem, 2.25vw);
    column-gap: 20px;
    width: inherit;
    user-select: none;
}

.OverlayHeaderLink{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    height: min(2rem, 2vw);
    font-size: min(2rem, 2vw);
    cursor: pointer;
    transition: height 0.5s ease, font-size 0.5s ease;
}

.OverlayHeaderLink a{
    transition: text-shadow 0.5s ease;
}

.OverlayHeaderLink:hover{
    height: min(2.25rem, 2.25vw);
    font-size: min(2.25rem, 2.25vw);
}

.OverlayHeaderLink:hover a{
    text-shadow: 0 0 10px var(--NordLight3);
}

.OverlayHeaderLink a{
    text-decoration: none;
    color: inherit;
}

.OverlayHeaderLink p{
    color: inherit;
}

.OverlayHeaderLink img{
    height: inherit;
}

#OverlayDescription{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 75vw;
    margin-top: 10px;
}

.OverlayDescriptionItem{
    display: flex;
}

.OverlayDescriptionSpace{
    margin: 10px;
}

.OverlayDescriptionHeader{
    width: 100%;
    text-align: center;
    font-size: min(4rem, 4vw);
    color: var(--NordLight3);
}

.OverlayDescriptionParagraph{
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: min(2rem, 2vw);
}

.OverlayDescriptionParagraph p br{
    margin-top: 100px;
}

.OverlayDescriptionParagraph a{
    margin: 0;
    color: var(--NordBlue3);
    text-decoration: none;
    transition: text-shadow 0.25s ease;
}

.OverlayDescriptionParagraph a:hover{
    text-shadow: 0 0 5px var(--NordBlue3);
}

.OverlayDescriptionImage{
    margin: auto;
    max-width: 100%;
    border: 2px solid var(--NordLight1);
    border-radius: 1.5rem;
    user-select: none;
}

.OverlayDescriptionEmbed{
    width: 100%;
    aspect-ratio: 16/9;
    align-self: center;
    border: 2px solid var(--NordLight1);
    border-radius: 1.5rem;
}

.vertical-slider {
    transform: rotate(270deg);
}